[2020-02-09 16:37] sigfriedCub1990 opened #1 "Contributor"
Hi @bluebill1049 ,

I've been working with `react-hook-forms` for a while and the results are great. In return I would love to contribute to this repo in any way I can.

Cheers, sigfried.

[2020-02-09 20:46] bluebill1049 commented on #1
aha that would be awesome! I will keep you in the loop on what we can work together.  you can take a preview on V1 there is a branch now.

[2020-02-09 21:02] bluebill1049 commented on #1
It's going to be an interesting and useful project :)

[2020-02-09 21:03] bluebill1049 commented on #1
<img width="1440" alt="Screen Shot 2020-02-10 at 8 03 00 am 2" src="https://user-images.githubusercontent.com/10513364/74109896-c7c94980-4bdb-11ea-8660-515c8eca7858.png">

[2020-02-09 21:04] bluebill1049 commented on #1
<img width="1078" alt="Screen Shot 2020-02-10 at 8 03 48 am" src="https://user-images.githubusercontent.com/10513364/74109914-e7607200-4bdb-11ea-8a95-bffb4126dd8b.png">

[2020-02-09 21:21] sigfriedCub1990 commented on #1
Indeed :+1:

[2020-02-10 03:24] bluebill1049 commented on #1
Hey @sigfriedCub1990 you want to help on the filter functionality?

<img width="290" alt="Screen Shot 2020-02-10 at 2 22 21 pm" src="https://user-images.githubusercontent.com/10513364/74118768-e3027c00-4c10-11ea-8f8a-428d8f11d008.png">

the filter name part?

[code]

everything lives inside the `devTools` folder.

[2020-02-10 18:07] sigfriedCub1990 commented on #1
Sure thing @bluebill1049 I'll look into it today's afternoon :)

[2020-02-13 01:14] bluebill1049 commented on #1
@kotarella1110 if you got sometimes, please help improve the types :) ❤️

[2020-02-13 02:01] kotarella1110 commented on #1
@bluebill1049 yeah! i will improve types 💚

[2020-02-13 02:16] bluebill1049 commented on #1
amazing! @kotarella1110 🙏

[2020-02-19 10:20] bluebill1049 commented on #1
it's an ongoing thing, let's close this issue for now. feel free to send PR to improve this devtool

[2020-02-19 10:20] #1 closed

[2020-02-21 06:07] stramel opened #6 "Love the idea of this, but feels invasive"
@bluebill1049 I was excited to see the post when you announced the RHF Devtools! However, both myself and my developers felt like it was a bit too invasive and hard to get setup right for a development only tool.

I think this would fit much nicer as a Browser Extension and i _think_ it is possible. If there is interest, I can take a look at what all would be required to do something like this ins

[2020-02-21 06:17] bluebill1049 commented on #6
Yea if you have sometimes please take a look at browser extension. ❤️🎉

[2020-02-26 09:47] pzi commented on #6
I wouldn't mind a browser extension, however, if anything, if it could just start in a closed state, that would be handy. Like a `defaultVisibility` prop that accepts an enum of `visible | invisible` or something the like :)

[2020-02-26 09:50] bluebill1049 commented on #6
@pzi yeah i will install state machine to remember the state as well.

[2020-02-27 02:14] bluebill1049 commented on #6
here is a PR for persist state @pzi https://github.com/react-hook-form/react-hook-form-devtools/pull/7

[2020-02-27 11:04] pzi opened #8 "Whitespace text node error"
Heya,

I have a field that conditionally is shown on a page (when a checkbox is clicked) and it's value gets set and reset occasionally. When I reset the field and hide it, the following error crops up in the console:

`Whitespace text nodes cannot appear as a child of <tbody>. Make sure you don't have any extra whitespace between tags on each line of your source code.`

Unsure what exactly causes

[2020-02-27 11:06] bluebill1049 commented on #8
oh this could due to prettier... i think i even seen this one before.

[2020-03-12 10:09] hungnguyen1995 opened #10 "Report Errors"
I'm using on Next js

ReferenceError: window is not defined
    at Object.<anonymous> (D:\source\fe-codebase\node_modules\react-hook-form-devtools\dist\react-hook-form-devtools.js:419:35)
____

littleStateMachine.setStorageType(window.localStorage);

[2020-03-12 10:16] bluebill1049 commented on #10
aha good one, i forgot about SSR. will patch soon.

[2020-03-12 10:36] bluebill1049 commented on #10
hey @hungnguyen1995 can you test out this beta version: `1.1.2-beta.1`

[2020-03-12 15:30] hungnguyen1995 commented on #10
ok bro ! thanks u

[2020-03-12 15:46] hungnguyen1995 commented on #10
![image](https://user-images.githubusercontent.com/38306234/76539296-29b6f080-64b3-11ea-8fb7-c1579a45d8c3.png)
i was checkout 1.1.2-beta.1

[2020-03-12 16:10] #10 closed

[2020-03-15 03:10] chris-fran opened #12 "Is this auto feature-flagged on prod?"
Just added this to my project and wondering if I have to create a feature flag myself not to render this on prod, or whether this is stripped out on `NODE_ENV=production` by default?

PS: LOVE THE IDEAAAAA ❤️

[2020-03-15 03:12] bluebill1049 commented on #12
I would recommend you do at your APP level, cause then you get the proper tree shake :)

[2020-03-22 10:08] #12 closed

[2020-03-22 10:09] bluebill1049 commented on #6
going to close this issue as i don't have the capacity for this at the moment :)

[2020-03-22 10:09] #6 closed

[2020-04-01 09:38] zenzjtech opened #16 "Step to do in order for the RHFD form showing up"
I've installed the app, but haven't been able to figure out how to make the UI appear.
Note:

- I include it in the child components, not on the App.js
- My react, and other package are latest.

![image](https://user-images.githubusercontent.com/10528635/78122611-3639c380-7437-11ea-9981-7c8fbc6b49ce.png)

[2020-04-01 09:40] bluebill1049 commented on #16
strange... can you inspect the DOM? it should worked.

[2020-04-01 13:14] zenzjtech commented on #16
Hi @bluebill1049, Thank you for your response.
My plan is to reproducing it in some sites like Codesandbox.
However, currently I don't have time to reproduce the issue. So let me close the issue and reopen it in the future.

[2020-04-01 13:14] #16 closed

[2020-04-01 20:58] bluebill1049 commented on #16
cool sounds good thanks

[2020-04-08 22:19] Albert-Gao opened #17 "little-state-machine causes React native to crash"
![image](https://user-images.githubusercontent.com/18282328/78837969-465e2e00-7a49-11ea-99c7-f3fd63540d1e.png)

It tries to access something not there
![image](https://user-images.githubusercontent.com/18282328/78838984-858d7e80-7a4b-11ea-842c-122ba3ed3136.png)

I do not if it is intended because of not supporting RN? Or something just we can fix?

Thanks, great tool BTW!

[2020-04-08 22:21] bluebill1049 commented on #17
oh, sorry @Albert-Gao it's not compatible with React Native. I will add a note to it.

[2020-04-08 22:22] Albert-Gao commented on #17
Thanks! :)

[2020-04-08 22:22] bluebill1049 commented on #17
wow you are a quick replier! hahaha

[2020-04-08 22:24] Albert-Gao commented on #17
like you ! 😂

[2020-04-09 05:35] #17 closed

[2020-04-20 03:02] cliffordp commented on #8
me too.

If this helps...

![image](https://user-images.githubusercontent.com/1812179/79710019-51a32c00-8289-11ea-92bf-df6edba8a2af.png)

[2020-04-20 03:10] bluebill1049 commented on #8
Thanks, guys it's due to how prettier format the code (white space) I will spend sometimes this weekend (long overdue)

[2020-04-20 03:11] cliffordp commented on #8
Thanks for your quick efforts! This is just noise in development mode so not a huge rush but it was helpful to know it wasn't _my code_ causing the issue :)

[2020-04-20 03:13] bluebill1049 commented on #8
yea, it's annoying for us at work as well. I will find some time to sort it out.

[2020-04-20 05:20] cliffordp opened #18 "Don't include in Production build, like React Query Devtools"
From https://github.com/tannerlinsley/react-query-devtools#usage

And the code looks easy, too! https://github.com/tannerlinsley/react-query-devtools/blob/v1.0.12/index.js

===

I really like this utility (thanks!) but don't want to have to remember to remove from my component to build an optimized bundle, as _RFH_ itself is the 1st (IE11) and 6th (core) heaviest things I've got (is there room for

[2020-04-20 05:39] bluebill1049 commented on #18
want to send a PR?

[2020-04-20 05:40] cliffordp commented on #18
Yes, I'd want to ;) But I looked through and am unsure how/where to modify and wasn't sure how tests would fail. Unsure how to proceed.

[2020-04-20 05:42] bluebill1049 commented on #18
I think this file is all you need right? https://github.com/react-hook-form/react-hook-form-devtools/blob/master/src/index.tsx

[2020-04-20 06:29] cliffordp commented on #18
Oh, nice, will try. tyvm

[2020-04-21 03:43] cliffordp commented on #18
Well I've been at it for an hour and can't even get a local clone of your master branch to build... so I can't then test if any changes would be working :(

FYI: I've never used TypeScript or Rollup before, but I am using PhpStorm and globally installed rollup just now on Mac.

You and your code have been very helpful to me so I really wanted to help, but I guess it's not going to happen today. So

[2020-04-21 03:46] bluebill1049 commented on #18
nah @cliffordp don't be sorry at all, i will get it out today. 👍

[2020-04-21 03:46] cliffordp commented on #18
🥇

[2020-04-21 10:19] bluebill1049 commented on #18
hmmm looks like it's difficult to do dynamic export in TS, may have to do that check at the app level. I will update the read me to include that production checks instead.

[2020-04-21 17:27] cliffordp commented on #18
I see it's updated. tyvm.

Is there room for improvement in how the component is exported/built so we don't need this manual check everywhere we want to use it? If yes, is there anything I can try to help with?

[2020-04-21 17:30] cliffordp commented on #18
Also my build doesn't change as a result, just that the DevTool doesn't show up on the page.

Could you move more (or everything) from "dependencies" to "devDependencies"?
https://github.com/tannerlinsley/react-query-devtools/blob/master/package.json has only 1 dependency.

[2020-04-21 22:19] bluebill1049 commented on #18
good point!

[2020-04-21 22:20] bluebill1049 commented on #18
if you can, send a PR on this 🙏

[2020-04-22 02:14] cliffordp commented on #18
I tried for a while and yarn install works but running `build` does not, throwing this error (even if I add `// @ts-ignore` on the line above, as PhpStorm suggested):

![image](https://user-images.githubusercontent.com/1812179/79932641-9e1a7300-8413-11ea-85d4-6aed3c3cfcbc.png)

So... I have no idea if it works, but I submitted the PR to move everything from dep to devDep. I ran `yarn install` but

[2020-04-22 02:15] bluebill1049 commented on #18
I will release a beta and we can test it out :)

[2020-04-22 03:39] pzi commented on #8
could you just slap `// prettier-ignore` above the offending line and format it the way you need it? would that help?

[2020-04-22 03:42] bluebill1049 commented on #8
@pzi I think that would probably do it or maybe update prettier will solve the problem too.

[2020-04-24 00:23] bluebill1049 commented on #18
`react-hook-form-devtools@1.1.5-beta.1` can you try this beta?

[2020-04-24 02:08] cliffordp commented on #18
Wouldn't build unless `little-state-machine` was a _dependency_ instead of _devDependency_ but then RHF DevTools is still included (and largest asset) in the Production build:
![image](https://user-images.githubusercontent.com/1812179/80167558-4d874f00-85a6-11ea-94cc-d194efb6b674.png)

Any ideas?

[2020-04-24 02:23] bluebill1049 commented on #18
that's really strang, it should be included by tree shaking... I am confused. what's the bundler you are using CRA, NextJS or Gatsby?

[2020-04-24 03:14] cliffordp commented on #18
Parcel v1

[2020-04-24 03:57] bluebill1049 commented on #18
You may need to upgrade to v2 with tree shake: https://medium.com/@devongovett/parcel-v1-9-0-tree-shaking-2x-faster-watcher-and-more-87f2e1a70f79

[2020-04-24 06:01] cliffordp commented on #18
Hmm, can't do that for now. Guess I'll just manually remove it so it doesn't affect the Production build.

I'm unsure why this has to be this way when React Query Devtools works as expected but, thanks again for your efforts.

[2020-04-28 02:16] bluebill1049 commented on #18
I think we found the root cause: https://github.com/bluebill1049/little-state-machine/issues/36

[2020-04-28 02:21] cliffordp commented on #18
Oh, sweet. Let me know if you need me to test something with Parcel v1.

[2020-04-28 11:58] bluebill1049 commented on #18
hey @cliffordp can you please test this version: react-hook-form-devtools@1.1.4-beta.1

[2020-05-06 07:42] #18 closed

[2020-05-19 09:24] justrhysism opened #26 "Allow multiple forms/devtool instances"
Working on an app which has many forms—now the DevTool isn't included in the production bundle, we've been able to leave the DevTools in (which really helps the team debug issues). However we do have multiple different form contexts in different parts of the app (a common one is a page with a form, then a modal with another form).

Currently, it's impossible to view multiple forms in the DevTool—a

[2020-05-28 17:01] listepo commented on #17
@Albert-Gao what do you think about adding this as [fbflipper plugin](https://fbflipper.com/docs/extending/index)?

[2020-05-28 21:52] bluebill1049 commented on #17
hey @listepo i don't think it's working with RN at all at the moment. all elements are DOM elements. I am not too familiar with that plugin as well.

[2020-06-11 07:31] haripriyaaganesan opened #32 "ie11 support?"
Hi,

Thanks for the great library. I've been using it for all my projects, but it does not work on IE11.
Can you add support for this one?

I got a Syntax error in index.js
if (process.env.NODE_ENV === 'production') {
  module.exports = {
    **DevTool: () => null,**
  }

Can this be changed to
if (process.env.NODE_ENV === 'production') {
    module.exports = {
        DevTool: function DevTool()

[2020-06-11 07:37] bluebill1049 commented on #32
hi @haripriyaaganesan you mean the devtool doesn't work on IE 11?

[2020-06-11 07:38] bluebill1049 commented on #32
any chance you can provide a real screenshot of the error? happy to invest for a fix.

[2020-06-11 16:55] haripriyaaganesan commented on #32
Hi Bill,

On ie11 page appears blank. On the console, I got a syntax error. When
clicked, found => function is to blame :)
Attaching screenshots

On Thu, Jun 11, 2020 at 12:38 AM Bill <notifications@github.com> wrote:

[2020-06-11 22:49] bluebill1049 commented on #32
ok thanks, i will take a look at it, I think u forgot to attach the screenshots.

[2020-06-12 04:46] haripriyaaganesan commented on #32
![Screen Shot 2020-06-11 at 9 54 27 AM](https://user-images.githubusercontent.com/699941/84465882-f8260080-ac2c-11ea-880e-6b93af70bd2a.png)
![Screen Shot 2020-06-11 at 9 54 50 AM](https://user-images.githubusercontent.com/699941/84465907-01af6880-ac2d-11ea-8dff-efeb66a07dce.png)

[2020-06-12 04:49] bluebill1049 commented on #32
👍 will take a look at it after (react hook form) v6 is out.

[2020-06-17 09:18] omerman opened #34 "Not working with "react-hook-form": "6.0.0-rc.4""
Does devtools have a working version compatible with newest react hook form?

Thanks :)

[2020-06-17 09:25] bluebill1049 commented on #34
you will have to use 2.0.0-beta.2

[2020-06-18 08:44] omerman commented on #34
I'll check soon and reopen in case there are any troubles :) thanks

[2020-06-18 08:44] #34 closed

[2020-06-18 08:46] bluebill1049 commented on #34
sounds good to me :)

[2020-07-02 10:57] bluebill1049 opened #36 "new build is broken the final publish version"
I think the problem is due to the `index.js` is missing as part of the publish, we should do what do you have done at main-repo. @kotarella1110

[2020-07-02 23:24] etroynov commented on #36
is devtools capable with 6 version?

when i try to use it with 6 version a got a error:
[code]

Hook:
[code]

JSX:
[code]

If i disable devtools everything works fine.

[2020-07-02 23:25] bluebill1049 commented on #36
@etroynov are you using 2.0.1?

[2020-07-03 03:06] #36 closed

[2020-07-05 10:31] etroynov opened #39 "formState.dirtyFields.has error with v6"
I previously wrote about this error in issue:
https://github.com/react-hook-form/devtools/issues/36

i try:
- 1.2.0;

Now i update to 2.1.0 but error still the same

is devtools capable with 6 version?

when i try to use it with 6 version a got a error:
[code]

Hook:
[code]

JSX:
[code]

If i disable devtools everything works fine.

[2020-07-05 10:38] etroynov commented on #36
i not available in npm :(

[2020-07-05 10:40] etroynov commented on #36
are you maintain:
https://www.npmjs.com/package/react-hook-form-devtools

?

[2020-07-05 10:44] etroynov commented on #36
as i suppose the current version is:
https://www.npmjs.com/package/@hookform/devtools ?

if it true, can you deprecate:
https://www.npmjs.com/package/react-hook-form-devtools ?

At the moment, 2 packages are a bit confused, I found the second package only after I checked your profile on npm.

[2020-07-05 10:45] etroynov commented on #39
as i suppose the current version is:
https://www.npmjs.com/package/@hookform/devtools ?

if it true, can you deprecate:
https://www.npmjs.com/package/react-hook-form-devtools ?

At the moment, 2 packages are a bit confused, I found the second package only after I checked your profile on npm.

[2020-07-05 10:55] bluebill1049 commented on #36
sorry @hookform/devtools  should be the one going forwards.

[2020-07-05 12:25] etroynov commented on #39
i check @hookform/devtools, with it pkg everything works fine.

[2020-07-06 10:18] pixel-mattp opened #40 "DevTools does not show input value, when using Controller"
**Describe the bug**
When using Controller to wrap a third party input component, the field is registered and appears in the DevTools list, however does not show a value.

**To Reproduce**
[Sanbox Link](https://codesandbox.io/s/funny-napier-h5zxh)

**Expected behavior**
Field value should be visible for these fields in DevTools.

**Desktop (please complete the following information):**
 - OS: MacO

[2020-07-06 10:21] bluebill1049 commented on #40
Thanks @pixel-mattp @kotarella1110 is preparing to release a patch for V2 soon.

[2020-07-06 10:27] pixel-mattp commented on #40
That's great.  Superb work on this package - we are switching all our development and forms to React Hook form as it's so good.

[2020-07-06 10:29] bluebill1049 commented on #40
That's awesome to hear @pixel-mattp sorry about the Devtool, I completely screw it up with V6, didn't prepare well for the V6 release with DevTools. My apology.

[2020-07-06 10:31] pixel-mattp commented on #40
No problem.  Some awesome additions to V6!  The useWatch function will be a game changer if it isolates render to the component.  DevTools really useful too!

[2020-07-07 11:05] etroynov commented on #39
everything works fine.

[2020-07-07 11:05] #39 closed

[2020-07-11 02:03] bluebill1049 commented on #40
https://codesandbox.io/s/icy-http-s02ln?file=/src/InnerComponent.jsx fixed :)

[2020-07-11 02:04] #40 closed

[2020-07-11 02:06] #26 closed

[2020-07-13 03:07] cliffordp opened #42 "conflicting peer dependency requirements between @hookform/devtools@2.0.2 and react-hook-form-devtools@1.2.0"
I was using `"react-hook-form": "^5.4.2"` so when I installed this devtools package via `npm install @hookform/devtools -D` which resulted in `"react-hook-form-devtools": "^1.1.3"`, but I saw this message:

I wasn't aware my RHF was outdated so then I updated my package.json, ran install, then I saw this:

So it looks like those 2 have conflicting peer dependency requirements.

[2020-07-13 03:12] bluebill1049 commented on #42
for v5, you should keep using `react-hook-form-devtools`

[2020-07-13 03:22] cliffordp commented on #42
I'm cool updating to v6 but the mutually-exclusive peerDeps is wrong, isn't it?

[2020-07-13 03:24] bluebill1049 commented on #42
you mean `@hookform/devtools@2.0.2 requires a peer of react-hook-form@>=6.0.0 but none is installed`?
v6 need v2 because we having breaking change with form state names.

[2020-07-13 03:30] cliffordp commented on #18
Just following up here that production build *does* still include DevTools :(

I'm still using Parcel v1 but now on latest versions of RHF (^6.0.4) and DevTools (^2.0.2).

[2020-07-13 03:35] bluebill1049 commented on #18
I think i got it working for the latest v1, @kotarella1110 is still trying to resolve this for v2.

[2020-07-13 03:47] cliffordp commented on #18
v1 of Parcel? not for me but thanks for your efforts

[2020-07-13 03:48] bluebill1049 commented on #18
try latest v1 :)
it should work.

[2020-07-13 03:49] cliffordp commented on #18
`"parcel-bundler": "^1.12.4",` -- what am I missing?

[2020-07-13 03:54] bluebill1049 commented on #18
not sure what are you missing but latest v1 i have tested and prod build without dev tool : https://github.com/react-hook-form/devtools/blob/v1.2.1/index.js

https://bundlephobia.com/result?p=react-hook-form-devtools@1.2.0

actually even v2 should not include the devetool as well

https://bundlephobia.com/result?p=react-hook-form-devtools@1.2.0

[2020-07-13 04:10] bluebill1049 commented on #18
That's really strange...

[2020-07-14 03:13] bluebill1049 commented on #42
are you still getting that message? that's strange.

[2020-07-14 10:19] cgodgers opened #43 "Styles with text name overflow not correctly handled."
Hi! amazing devtools you guys have made :)

There's a small bug I'm having on Chrome 81, ubuntu.

Apparently whenever the registered input name is too large (in my case, shipping_company_name), the text overflows with an ugly default scrollbar.

![image](https://user-images.githubusercontent.com/16207732/87414907-b93cef00-c5cc-11ea-8c02-bbd89a65f33b.png)

Maybe something like a text ellipsis could

[2020-07-14 15:34] pixel-mattp opened #44 "setValue does not set the value of an object field correctly"
**Describe the bug**
When using `setValue` to set the value of a field which is an object (for example field name: `objectField.value`) it does not set the value.
However, it works if you have a field named `objectField`.

**To Reproduce**

[See CodeSandbox for Demo](https://codesandbox.io/s/autumn-paper-rdg73)

**Expected behavior**
Field value should correctly set the object key value.

[2020-07-15 10:49] pixel-mattp commented on #44
I’m not sure it is - on my dev environment, when it submits the data to the endpoint, the values are not included and are null?

See screenshot.  The left is dev tools showing the object format inputs.  Right shows the values submitted to the api.  As you can see, the fields are not populated.

<img width="723" alt="Screenshot 2020-07-15 at 11 48 39" src="https://user-images.githubusercontent.com/

[2020-07-15 11:05] bluebill1049 commented on #44
<img width="570" alt="Screen Shot 2020-07-15 at 9 04 50 pm" src="https://user-images.githubusercontent.com/10513364/87537960-d530b580-c6de-11ea-9a39-2863df1894b6.png">

https://codesandbox.io/s/romantic-river-f8e6m?file=/src/App.js

works in your CSB above

[2020-07-15 11:36] pixel-mattp commented on #44
Hmmmmm... it must be the way I am registering the field.

[2020-07-15 11:37] bluebill1049 commented on #44
are you unregister any of them?

[2020-07-15 11:39] pixel-mattp commented on #44
This is how I am registering that field...

[code]

[2020-07-15 11:39] bluebill1049 commented on #44
looks fine to me.

[2020-07-15 12:14] pixel-mattp commented on #44
Doh, it was the way i was sending the values.  Helps if you use lodash correctly to merge objects!  Apologies.  The bug still stands for the DevTools however.

Thanks for your support.

[2020-07-17 05:30] bluebill1049 commented on #32
sorry, haven't got to this, maybe we can use chrome for dev purpose?

[2020-07-17 06:41] #42 closed

[2020-07-17 06:42] bluebill1049 commented on #8
is everyone still having this issue with latest build?

[2020-07-17 06:43] #43 closed

[2020-07-17 06:43] bluebill1049 commented on #44
fixed

[2020-07-17 06:43] #44 closed

[2020-07-17 07:08] pixel-mattp commented on #44
Superb support as always

[2020-07-22 16:24] haripriyaaganesan commented on #32
It is a client's requirement that our application has to support ie11 as
well. Since the library has es6 js / => functions, page isn't rendered.

FYI: I'm not trying to use react-dev-tool in ie11. Hope this helps

On Thu, Jul 16, 2020 at 10:30 PM Bill <notifications@github.com> wrote:

[2020-07-24 02:43] cliffordp commented on #42
confirmed no longer getting the issue. tyvm for helping.

[2020-07-27 04:08] #8 closed

[2020-07-28 09:05] yyynnn opened #47 "getStore error in storybook v6 mdx"
state machine error

probably some init error, cuz devtool loads ok if pages are switched/re-rendered (while in SPA context)

<img width="811" alt="Снимок экрана 2020-07-28 в 12 01 03" src="https://user-images.githubusercontent.com/13677727/88643513-74d04980-d0ca-11ea-8865-8ac59c20772d.png">

[2020-07-28 09:08] bluebill1049 commented on #47
can you provide more details on all versions?

[2020-07-28 14:16] surfer19 commented on #47
same problem..

`    "@hookform/devtools": "^2.0.3",
    "@roche/rdcp-design-system": "^0.3.3-dev.321",
    "@testing-library/jest-dom": "^4.2.4",
    "@testing-library/react": "^9.3.2",
    "@testing-library/user-event": "^7.1.2",
    "@types/jest": "^24.0.0",
    "@types/node": "^12.0.0",
    "@types/react": "^16.9.0",
    "@types/react-dom": "^16.9.0",
    "@types/styled-components": "^5.1.1",

[2020-07-28 23:55] bluebill1049 commented on #47
where is devtool?

[2020-07-29 07:09] surfer19 commented on #47
sorry here is my code:
I tried to put it also upper but no difference
[code]

[2020-07-29 07:11] bluebill1049 commented on #47
can you do a re-install? I think i have fixed this early this morning.

[2020-07-29 07:49] surfer19 commented on #47
Is it published already? I see latest version "@hookform/devtools": "^2.0.3", that I installed yesterday

[2020-07-29 07:53] bluebill1049 commented on #47
I think the issue it's due to `little-state-machine`.

[2020-07-29 07:54] bluebill1049 commented on #47
can you check your node_module which version is your `little-state-machine`?

[2020-07-29 07:57] surfer19 commented on #47
"little-state-machine": "^3.0.1",

[2020-07-29 07:59] bluebill1049 commented on #47
I mean inside your node_module folder, 3.1.0 is the one having problem.

[2020-07-29 08:01] surfer19 commented on #47
[code]

[2020-07-29 08:01] surfer19 commented on #47
you are right

[2020-07-29 08:46] surfer19 commented on #47
@bluebill1049 Last version where devtools are working for me is:
`@hookform/devtools": "2.0.0"`

[2020-07-29 08:49] bluebill1049 commented on #47
<img width="442" alt="Screen Shot 2020-07-29 at 6 47 57 pm" src="https://user-images.githubusercontent.com/10513364/88778610-11c6db80-d1cc-11ea-9dd7-5286c1231ea8.png">

are you using LSM? maybe you getting the latest version otherwise it's strange because devtool is only getting latest patch and shouldn't take minor version from there.

try remove the whole node modules and reinstall again, it sho

[2020-07-29 11:42] surfer19 commented on #47
always when I install 2.0.3 it automaticaly installs me to root folder 3.1.0
[code]

[2020-07-29 11:46] surfer19 commented on #47
isnt is because "^" ?
[code]

[2020-07-29 11:50] surfer19 commented on #47
so what I assume happened.. they released new minor version of lsm and thats why its installing use 3.1

[2020-08-16 12:04] kle-dev opened #49 "devtools v. 2.0.4 not disabled in production build"
can I disable the devtools in production builds automatically or do I have to remove it every time everywhere in code for production ?

[2020-08-16 12:18] bluebill1049 commented on #49
can you provide more details? what's your env, build and etc...

[2020-08-16 12:31] kle-dev commented on #49
Here my dependencies:

[code]

build a production build and run in Chrome v. 84.0.4147.125

I created a prod build and dev tools are enabled. wasn't it all time disabled automatically in prod ?

[2020-08-16 12:34] bluebill1049 commented on #49
looks like it's broken form 2.0.1, @kotarella1110 could you please take a look this?

[2020-08-16 12:35] kle-dev commented on #49
@bluebill1049 thanks, thanks for your great work !

[2020-08-16 12:36] bluebill1049 commented on #49
@kotarella1110 has done amazing to this package as well ❤️

[2020-08-17 00:01] bluebill1049 commented on #49
looks like it's stopping working from the new build script @kotarella1110

[2020-08-17 00:15] bluebill1049 commented on #49
here is a quick evidence:
<img width="1662" alt="Screen Shot 2020-08-17 at 10 15 29 am" src="https://user-images.githubusercontent.com/10513364/90347280-9b9ef180-e072-11ea-9d1f-a3c9fcf0946f.png">

[2020-08-17 00:23] bluebill1049 commented on #49
looks like if there is a module in the package.json, it will pick up that, so i will remove it for now.

[2020-08-17 00:26] #49 closed

[2020-08-20 07:10] bluebill1049 commented on #47
This is fixed right?

[2020-08-20 07:10] bluebill1049 commented on #47
sorry forgot to follow up.

[2020-08-20 07:12] #32 closed

[2020-08-20 07:45] surfer19 commented on #47
Yes its not global issue it happens only for me cause I have abstraction in npm and because there is `^` before little-state-machine it installs wrong version:(. But if you will update package and remove ^ it would be perfect:)

[2020-08-20 07:50] bluebill1049 commented on #47
I think that issue is patched with little-state-machine as well :) so going to close this issue.

[2020-08-20 07:50] #47 closed

[2020-08-20 07:51] surfer19 commented on #47
thanks anyway!

[2020-08-23 14:03] RileyMShea opened #51 "latest Devtools throws error w/ latest hook-form"
# Description

The basic example on the main devtools page [here](https://react-hook-form.com/dev-tools) throws the following error:

`Uncaught TypeError: Cannot read property 'current' of undefined`

The above error occurs in `react-hook-form 6.5.0` but not in the the previous release `6.4.1`.
[Diff between react-hook-form 6.5.0 and 6.4.1](https://github.com/react-hook-form/react-hook-form/compar

[2020-08-23 22:45] bluebill1049 commented on #51
oh! thanks will get that fixed.

[2020-08-24 04:19] bluebill1049 commented on #51
could you please help test this beta? `2.1.1-beta.1`

[2020-08-24 13:13] Ronny25 commented on #51
with version `2.1.1-beta.1` I have another error:
**Cannot read property 'errors' of undefined**

[2020-08-24 13:18] Ronny25 commented on #51
![Screenshot 2020-08-24 at 15 17 44](https://user-images.githubusercontent.com/15904604/91049144-0628d200-e61d-11ea-86b2-80c69ad390fc.png)

[2020-08-24 23:54] bluebill1049 commented on #51
https://codesandbox.io/s/winter-cache-b7xey?file=/src/App.tsx

[2020-08-24 23:57] bluebill1049 commented on #51
Thanks @Ronny25 fixed above :)

[2020-08-25 01:24] #51 closed

[2020-08-25 05:18] levrik opened #53 "Stopped working after upgrade to 2.2.0"
![image](https://user-images.githubusercontent.com/9491603/91125873-0d92be80-e6a3-11ea-8f92-7a91f7bad46c.png)

After upgrade to 2.2.0 this error showed up. I'm using `react-hook-form` 6.3.2

[2020-08-25 05:19] bluebill1049 commented on #53
i will include a changelog for this repo. sorry about this issue.

[2020-08-25 05:24] #53 closed

[2020-08-25 05:32] levrik opened #54 "DevTools don't show isDirty and isTouched anymore"
I've just did the upgrade to `react-hook-form` 6.5.1 and 2.2.0 of the dev tools.
But now `isDirty` and `isTouched` isn't shown for fields anymore. Is this change intended?
I'm currently debugging something where seeing this information is crucial.

[2020-08-25 05:39] levrik commented on #54
Ah, I figured it out. Looks like I have to read `dirtyFields` and `touched` in my application so they show up in devtools as well. This wasn't required before the upgrade.

[2020-08-25 05:51] levrik opened #55 "DevTools show all fields as dirty as soon as a single field is dirty"
Here a GIF as demo:

![Kapture 2020-08-25 at 07 49 43](https://user-images.githubusercontent.com/9491603/91127973-9875b800-e6a7-11ea-8d2b-6b94f9d1998c.gif)

When manually outputting `dirtyFields` in code, it shows the following:

![image](https://user-images.githubusercontent.com/9491603/91127916-7d0aad00-e6a7-11ea-839e-d3cae1b88e08.png)

So this doesn't seem to be a bug in `react-hook-form` itsel

[2020-08-25 05:58] bluebill1049 commented on #54
thanks let's focus on the other ticket.

[2020-08-25 05:58] #54 closed

[2020-08-25 05:59] bluebill1049 commented on #55
can you share a codesandbox for this issue?

[2020-08-25 07:04] #55 closed

[2020-08-25 09:39] levrik commented on #55
@bluebill1049 sorry. didn't see your answer yet. thanks for the quick fix!

[2020-09-10 10:01] Flavien-Pensato opened #57 "Does a babel remove @hookform/devtools plugin exist ?"
I which remove `@hookform/devtools` from a package dependencie, because a error occur when my app build.

I set `@hookform/devtools` as devDependencies in my package. Should I change it ? If so, my bundle size will still by the same ?

[2020-09-10 10:02] bluebill1049 commented on #57
This should answer it :) https://bundlephobia.com/result?p=react-hook-form-devtools@1.2.0 (prod build) 👍

[2020-09-10 10:02] #57 closed

[2020-09-29 12:34] gupta-vikash opened #60 "The view is not readable"
<img width="318" alt="Screenshot 2020-09-29 at 6 03 40 PM" src="https://user-images.githubusercontent.com/16285701/94559015-3ef04280-027e-11eb-9007-64f639db2686.png">

[2020-09-29 23:46] bluebill1049 commented on #60
can you reproduce this in a codesandbox? i want to see what are your selector is overwriting our style.

[2020-10-10 15:16] tyankatsu0105 opened #61 "Add enable props"
Hi.
I love this devtools. Thanks for all contributors!

Currently, this devtools UI are included application if`NODE_ENV` is NOT production.
But, I think people who want to create an application as experimental wants to enable devtools UI in production build.
I'm one of them.
https://sandbox-redux-toolkit-create-entity-adapter.vercel.app/
(In this case, I wrote`import * as ReactHookFormDevTool fro

[2020-10-10 22:51] bluebill1049 commented on #61
To figure out the build at the run time is a bit trigger, maybe we should produce a build which also has the Devtool even at prod build.

[2020-10-11 01:41] tyankatsu0105 commented on #61
Sounds good.
I checked this issue.
https://github.com/react-hook-form/devtools/issues/18
Probably to build Devtool even at production build is cause issue about performance.
Has that issue already solve?

[2020-10-11 01:43] bluebill1049 commented on #61
That issue is already resolved.

[2020-10-16 00:13] ilovett opened #62 "make resizable by dragging"
most of the time my path has an ellipsis  and i have no idea what it is... would be great to be able to drag the dev tools out to any width I like, so I can read it

[2020-10-29 13:54] stefanprobst commented on #8
i just ran into this as well:

![rhf-devtools](https://user-images.githubusercontent.com/20753323/97582796-73c6f500-19f6-11eb-9a26-864afde53da8.png)

version: 2.2.1

[2020-11-27 02:12] ixartz commented on #8
@bluebill1049 It seems that the error is back. I'm also on the latest version (2.2.1) and I got the same error.

[2020-12-11 05:57] wildfrontend opened #63 "add process.env.NODE_ENV control display devtool"
maybe cant control only display in  process.env.NODE_ENV === 'development' env

so we can do not need  to delete Component when we deploy  (or avoid to forget to delete)

[2020-12-11 06:03] bluebill1049 commented on #63
we don't ship dev tool in prod build.

[2020-12-14 14:32] MarkAPhillips commented on #6
Agree with this - my preference would be for it to start in the closed state but having a prop to control this would be useful.

[2020-12-15 14:17] tyankatsu0105 commented on #61
I'd like to try this issue.
So.. what can I do?

[2021-01-14 02:32] dinhmai74 commented on #60
Same here! I have an internal UI theme, so I can't publish the source. Really need a props or something to customize font and color of this devtool @bluebill1049

[2021-01-14 03:16] bluebill1049 commented on #60
Yea, too business right now, will come to that afterward.

[2021-01-19 08:00] superandrew commented on #17
is this reported somewhere? because I fell into the same trap and had to discover this to realize 😂

[2021-02-02 21:57] #63 closed

[2021-02-16 11:47] m-deacon commented on #62
Another layout suggestion (I rate it would be included in this work) would be to change the docking location? Forcing it to the right is blocking my form :')

[2021-02-16 21:43] bluebill1049 commented on #62
sounds like a much easier job. will take a look at it.

[2021-03-01 17:54] orenklein opened #67 "Unable to resolve peer dependency with React v17."
Installing the dev tools `npm install @hookform/devtools -D` with the latest version of react (v17.\*.\*) is failing.

It is caused by `little-state-machine` library version 3.1.4  `peerDependency` which is fixed in `little-state-machine` version 4.\*.\*
(Same as react-hook-form/react-hook-form#3284)

    npm ERR! Could not resolve dependency:
    npm ERR! peer react@"^16.8.0" from little-state-ma

[2021-03-01 21:56] bluebill1049 commented on #67
please provide a reproducible repo.

[2021-03-11 14:44] amankkg commented on #67
@bluebill1049 not sure if there is a need in reproduction repo since this errors occurs only on peerDeps version range mismatch when installing using `npm@7+`

So, I also would like to see React version range to include 17, since there are no breaking changes AFAIK

[2021-03-29 11:50] terebentina opened #69 "3.0.0-rc.0 Cannot read property 'ref' of undefined"
Using hook form 7 rc.8 and devtools 3 rc.0 I get the above mentioned error with any field containing a dot (nested path).
Example CSB: https://codesandbox.io/s/keen-napier-9i9hr?file=/src/App.js

[2021-03-29 11:54] terebentina opened #70 "Small DX feature request"
When using Devtools inside a FormProvider it would be good if we didn't have to specify the control prop anymore. Similar to how it works with useWatch/useFieldArray - control isn't required in this case.

[2021-03-29 22:00] bluebill1049 commented on #70
oops this should be working or missed.

[2021-03-30 09:16] #69 closed

[2021-04-02 21:12] sscotth opened #72 "Deploy v3 to npm"
It doesn't look like npm has the latest version @bluebill1049. May need to update the package.json.

[code]

[code]

[2021-04-02 22:22] bluebill1049 commented on #72
oops, it's there now.

[2021-04-02 22:22] #72 closed

[2021-04-03 18:08] sscotth opened #73 "TypeError: null is not an object (evaluating 'methods.control')"
Using DevTool with basic example has a compile error.

[Sandbox](https://codesandbox.io/s/serene-darwin-l6bee)

![image](https://user-images.githubusercontent.com/1010488/113487442-c57c1b80-947d-11eb-88ab-dfe39207e535.png)

[2021-04-04 11:53] julihereu opened #74 "DevTools together with Material UI creates warning"
When using DevTools together with [Material UI](https://next.material-ui.com/) I get the warning that DevTools uses a `<pre>` tag as a descendant of a `<p>` tag. As Material UI is such a widely used library, would it be possible to use another tag than `pre` to build up the DevTools?

Here is the traceback:
[code]

[2021-04-05 00:23] #73 closed

[2021-04-05 00:23] bluebill1049 commented on #74
can you try to reproduce that in a codesandbox?

[2021-04-05 11:50] fourteenmeister commented on #74
I am not using Material UI and this error is reproduced for me too

[2021-04-06 13:03] yudielcurbelo commented on #74
Here is a codesandbox reflecting the issue.

https://codesandbox.io/s/react-hook-form-defaultvalues-v7-forked-877mh?file=/src/index.js

[2021-04-08 23:35] cabbiepete commented on #74
This is not specifically do to with Material-UI but where the value is not a scalar, e.g. an array or object

As per @yudielcurbelo's code sandbox which shows an array and this one that shows an object (using Material-ui Autocomplete)

https://codesandbox.io/s/react-hook-form-devtools-non-scalar-value-console-5247d?file=/src/App.tsx

[2021-04-08 23:44] cabbiepete commented on #74
Looks like the issue is with the `p` tag surrounding value for these cases https://github.com/react-hook-form/devtools/blob/fcee352ab4b29c02a93a8988c11a1ec45d767c30/src/panelTable.tsx#L246

[2021-04-08 23:57] cabbiepete commented on #74
Apologies if the PR is only useful for reference obviously not the only way to resolve but clearly indicates the issue.

[2021-04-09 02:07] cabbiepete commented on #74
Resolved in v3.0.2

[2021-04-09 02:08] bluebill1049 commented on #74
amazing thank you very much @cabbiepete ❤️

[2021-04-09 02:08] #74 closed

[2021-04-11 12:51] llldar opened #77 "Cannot read property 'control' of null"
I added this to my component exactly like the tutorial and it crashed with message:
Cannot read property 'control' of null

<img width="604" alt="Screenshot 2021-04-11 at 8 47 54 PM" src="https://user-images.githubusercontent.com/9290574/114304717-4c2c9a80-9b07-11eb-99c5-f174f06db3bf.png">

"react": "17.0.1"
"react-hook-form": "7.0.4"
"@hookform/devtools": "3.0.0-rc.2"

[2021-04-11 12:53] bluebill1049 commented on #77
can you provide more detail and reproducible codesandbox?

[2021-04-11 12:54] bluebill1049 commented on #77
or at least share some code.

[2021-04-11 12:56] llldar commented on #77
sure, I'll add them later

[2021-04-11 13:23] llldar commented on #77
https://github.com/llldar/vlepo/blob/253f57a69112aea5855af8eebe0e6bd758d1349d/packages/vlepo-client/src/components/Modals/CreatePostModal/index.tsx#L171

[2021-04-11 13:27] llldar commented on #77
I couldn't figure out how to reproduce yet, I'll add sandbox when I do.

[2021-04-11 14:12] llldar commented on #77
Sorry looks likes it my enviroment's problem, I nuked all node_modules and this problem is gone.

[2021-04-11 14:16] llldar commented on #77
It still exists😅, I'll take a look tomorrow, today my head is a little dizzy.

[2021-04-11 14:43] llldar commented on #77
<img width="696" alt="Screenshot 2021-04-11 at 10 39 48 PM" src="https://user-images.githubusercontent.com/9290574/114308507-e0522e00-9b16-11eb-931b-ea58d6541601.png">
Looks like the methods is null, which means useFormContext() returns null. I'm not sure what useFormContext does

[2021-04-12 12:49] boazhoch commented on #77
@llldar Same here

[2021-04-13 16:32] orenklein commented on #67
Not sure how to provide a reproducible repo since it is occurring when executing `npm install` (which you cannot run by yourself with codesandbox which is using yarn). However, I can provide steps to reproduce (you must have npm installed).

 ## How to reproduce

1. `npx create-react-app my-app --template typescript`
2. `cd my-app`
3. `npm i react-hook-form`
4. `npm i @hookform/devtools`

Line 4 w

[2021-04-14 00:16] kutnickclose commented on #77
Pretty sure this is https://github.com/react-hook-form/devtools/issues/73 and can be solved by upgrading to v3.0.2.

[2021-04-14 01:08] bluebill1049 commented on #67
want to send us a PR? on the other repo?

[2021-04-23 09:45] amankkg commented on #67
@orenklein plz confirm if your issue is resolved, all peer deps are updated

[2021-04-24 13:52] Windly213 opened #79 "TypeError: methods is null"
Hello. the devtool is not working after using npx created-react-app.  Thank you.

The error:
[The image on Imgur](https://imgur.com/UG4Xegf)

The dependecies are as follows.

[code]

code:
[code]

[2021-04-24 17:20] tcneuen commented on #26
Even if there is no way to determine which is particularly active is there a way to switch between them?

[2021-04-30 08:02] devstojko commented on #79
@Windly213

I had the same problem using `npm install @hookform/devtools@next -D` like it's mentioned in documentation. Seems that it's not installing latest version of package.

You have to change version `"@hookform/devtools"`: "^3.0.0-rc.2"  to `"@hookform/devtools": "^3.0.2",` in your package.lock. After that do npm / yarn install again. Stop your local server, start again and it will work.

[2021-05-05 11:48] ItayGershman opened #81 "TypeError: reactHookForm.useFormState is not a function"
Hey, after installing @hookform/devtools I encountered into this error: "TypeError: reactHookForm.useFormState is not a function"

This is the error on the website:
   9 | };
  10 |
  11 | const Header = ({ setVisible, control }: Props) => {

  13 |     control,
  14 |   });

below is my code:

`
import { DevTool } from "@hookform/devtools";
return (
<>
      <form
        onSubmit={handleSubmit(o

[2021-05-05 22:58] bluebill1049 commented on #81
Which version are you using? I mean both react hook form and dev tool, latest version is a made for V7 hook form.

[2021-05-08 22:25] devstojko opened #82 "resize-feature"
Hello guys,

I am using react-hook-form daily on my job on all projects and I found it a little bit difficult to use devtools because of the fixed width. The true benefit of using react-hook-form and devtools is the fact of its simplicity and bundle size.

The resizing issue was open last year, but it's not live yet. So I have decided to contribute and push that feature so we could get it live sho

[2021-05-08 22:39] bluebill1049 commented on #82
We have a toggle position feature and I have been sick yet to be released. Will get that done soon.

[2021-05-11 08:12] #81 closed

[2021-05-19 20:32] alejandrosaldarriagaGL commented on #8
Still happening in 3.1.0

[2021-05-22 20:43] TheBox193 commented on #77
Looks like you must be using `<FormProvider {...methods} >` from  [useFormContext](https://react-hook-form.com/api/useformcontext/) for the Dev tools to load & not error.

[2021-05-24 11:26] Tinsulate commented on #77
upgrading to 3.0.2 didn't seem to work for me, but caused another issue.

[2021-05-26 23:39] bluebill1049 opened #84 "**Describe the bug**"
**Describe the bug**
This bug seems to arise when trying to track the `touched` and `dirty` states of custom `Controller` components that have nested values. In this example, I have set up a few scenarios with issues i have run into. There are 4 fields in the UI and I will refer to them in order top to bottom.

Field 1 and 2 have different names

Field 1 - touch and dirty works as expected. If you

[2021-06-10 14:29] nemonemi opened #87 "TypeError: methods is null when using <DevTool>"
**Describe the bug**

After the initial installation of the library and the DevTool, and a simple setup from the docs, this error gets shown:
![image](https://user-images.githubusercontent.com/77624664/121542355-60f2b500-ca08-11eb-88b8-344bb1cec812.png)

With the [TS] V7 I get a different error `getValues is not a function`.
https://codesandbox.io/s/eager-sun-jt4df?file=/package.json:169-177

V7

[2021-06-10 22:53] bluebill1049 commented on #87
<img width="514" alt="Screen Shot 2021-06-11 at 8 53 06 am" src="https://user-images.githubusercontent.com/10513364/121606946-71e80880-ca92-11eb-993e-4dd482270c20.png">
doesn't look like you are using the right version in the csb?

[2021-06-11 06:41] nemonemi commented on #87
The version was the problem in both situations csb and local.
When following the instructions, it direct to installing the "next" version, which, for me installed a release candidate.
![image](https://user-images.githubusercontent.com/77624664/121642394-becadf80-ca90-11eb-9723-d5c425599c5b.png)

Once I've installed the latest 3.1.0, things started working.

Perhaps it would make sense correcting t

[2021-06-11 06:41] #87 closed

[2021-06-17 02:01] hckhanh opened #88 "Cannot use reset() with @hookform/devtools"
**Describe the bug**
When I try to use Devtools and use reset() function.
All remain fields are removed and nothing is reset.

**To Reproduce**

Just simply add devtools to the form. Everything will be normal again, when the devtools is removed.

**Codesandbox link (Required)**
https://codesandbox.io/s/bug-with-devtools-dyk9l?file=/src/App.js

**Expected behavior**
It should be run correctly along

[2021-06-18 17:34] tonyjara commented on #82
Hi! Long variables names like the ones you get working with field array make it specially difficult to work without the resizing feature! So i'm really looking forward for this! Thank you guys!

[2021-06-27 01:16] #84 closed

[2021-07-06 16:45] felguerez opened #91 "FieldArray inputs don't update touched/dirty fields"
DevTools does not update the displayed form input state `dirty`, `touched`. Specifically, field array inputs where the name is something like `ingredients.0.description` will correctly display the updated input value as the user types, however its `dirty` and `touched` states will always be `false`. Not all inputs seem to be affected, a single text input not rendered with fields from `useFieldArra

[2021-07-07 15:46] #91 closed

[2021-07-07 15:46] felguerez commented on #91
https://github.com/react-hook-form/devtools/pull/89 This PR merged a couple weeks ago looks like it should solve this issue.

[2021-07-14 13:57] Evalon commented on #88
Eh, had so much troubles because of this bug when working on complex form. Hope it's fixed soon but if not maybe I have time in several weeks.

[2021-07-24 11:14] AllySummers opened #92 "[Bug]: Resetting form with either values or keep default values clears input fields but leaves values in form values;"
### Version Number

7.12.0

### Codesandbox

https://codesandbox.io/s/vigilant-mccarthy-pd8yz?file=/src/App.tsx

### Steps to reproduce

1) Go to code sandbox link
2) Press "Reset" button
3) Do one of the following:
  - Look at the form values in dev tools (bottom right)
  - Change the value in 1 form field and look at the console
  - Submit the form and look at the console

### Expected behaviour

[2021-07-24 11:18] AllySummers commented on #92
@bluebill1049 This has nothing to do with the dev tool, as it happens in this code sandbox without the dev tools even installed.

https://codesandbox.io/s/vigilant-mccarthy-pd8yz?file=/src/App.tsx

If you reset the form and submit you can see the default values being submitted in the console, and you can see the values in the template doesn't change. If you change a field, it overrides the previou

[2021-07-30 23:40] pdevito3 opened #96 "[Bug]: Dirty and Touched flags don't trigger in dev tools when registred with a nested object key."
### Version Number

7.11.1

### Codesandbox

https://gyazo.com/f8ab439071d6a8ea3268de7fdeb8bd43

### Steps to reproduce

**I couldn't get devtools (3.1) to work at all in codesandbox, but i added a GIF**

1. Create a form with a nested object registration like `patient.firstName`. For example:
[code]

2. navigate to the input and make it dirty or touched

### Expected behaviour

I'd expect RHF and

[2021-08-13 17:50] magnattic commented on #96
Can confirm, doesn't work for me either.
react-hook-form: 7.12.2,
hookform/devtools: 3.1.0

[2021-08-23 15:10] taschetto opened #99 "`3.0.2` is incompatible with `RHF` `7.13.0`"
When trying to use `@hookforms/devtools@3.0.2` with `react-hook-forms@7.13.0` throws an error:

[code]

# CSB with reproduction

https://codesandbox.io/s/bold-silence-grwfc?file=/src/index.js

[2021-08-23 15:16] taschetto commented on #99
Closed in favor of https://github.com/react-hook-form/react-hook-form/issues/6318.

[2021-08-23 15:16] #99 closed

[2021-08-23 23:16] taschetto opened #100 "[Bug]: `@hookforms/devtools@latest` doesn't work with `react-hook-form@latest` (`3.1.0` and `7.13.0`)"
### Version Number

7.13.0

### Codesandbox/Expo snack

https://codesandbox.io/s/sleepy-raman-v3n08?file=/src/App.js

### Steps to reproduce

Just open the Codesandbox and the error will be thrown.

### Expected behaviour

DevTools should work as expected. Downgrading to `react-hook-form@7.12.2` makes the problem go away.

### What browsers are you seeing the problem on?

Chrome

### Relevant log

[2021-08-23 23:22] bluebill1049 commented on #79
thanks for the help @devstojko

[2021-08-23 23:22] #79 closed

[2021-08-23 23:22] bluebill1049 commented on #62
https://github.com/react-hook-form/devtools/issues/82

[2021-08-23 23:22] #82 closed

[2021-08-23 23:23] #67 closed

[2021-08-23 23:24] #77 closed

[2021-08-23 23:28] bluebill1049 commented on #100
can we test this `next` version: @hookform/devtools@4.0.0-0?

[2021-08-24 12:16] yudielcurbelo commented on #100
Confirmed. Working on `next` version 4.0.0-0.

[2021-08-27 20:10] yudielcurbelo opened #102 "DevTool not rendering fields when reset it called."
Hello,

There is an issue when using reset and DevTool.

Here is an example of the issue

[Link](https://codesandbox.io/s/version-7-13-0-eoc88?file=/src/Form.js)

Calling reset make the DevTool not render the fields

[2021-08-30 10:50] guerrap opened #103 "[Bug]: useFieldArray error with append (latest versions of devtools and hook-form)"
### Version Number

v7.14.0

### Codesandbox/Expo snack

https://codesandbox.io/s/keen-moore-5p7c4?file=/src/App.js

### Steps to reproduce

1. Update to the latest versions of devtools and react-hook-form (`4.0.0` and `v7.14.0`)
2. Use `useFieldArray` with a default item
3. Register the array items using the `Controller` component
4. Try to append an additional element
5. Should see the error `Ca

[2021-09-01 09:21] #103 closed

[2021-09-02 22:25] mkoehlerJjk opened #105 "_getWatch is not a function"
I have been using the devtools without issue until just recently. Now i am getting this error.

![image](https://user-images.githubusercontent.com/67655701/131923949-9facf1d7-69b0-4289-80f0-c82bbaa13d9a.png)

here are my relevant dependancies
 "@hookform/resolvers": "^2.6.1",
"react": "^16.14.0",
"react-dom": "^16.14.0",
"react-hook-form": "~7.12.1",
"@hookform/devtools": "~3.0.2",

any suggestion

[2021-09-02 22:58] bluebill1049 commented on #105
can you reproduce this in a codesandbox?

[2021-09-10 19:45] mkoehlerJjk commented on #105
sorry for not getting back sooner, no i just tried with the same imports I have locally, and its only breaking locally, but not in codesandbox

[2021-09-13 08:44] Luc9802 opened #106 "errorMessage.trim() is not a function"
Disclaimer: I'm using react-hook-form v5 and react-hook-form-devtools v1 but I think this issue could be still present.

I've got the exception reported in the issue title because what I put as errorMessage is an object and not directly a string.
I do such a thing because I'm using yup validation library and I'm setting default error messages as they suggest as objects in order to include a value

[2021-09-18 22:55] msalahz opened #107 "[Bug]: Regression bug generated by releases v7.15.3 (Form Reset)"
### Version Number

7.15.3

### Codesandbox/Expo snack

https://codesandbox.io/s/eloquent-breeze-gywwy?file=/src/Form.tsx

### Steps to reproduce

Scenario 1
1. Enter any string in the first name field
2. Click on the reset button
3. Enter any string in the last name field
4. Check the dev tool
Actual: you should find both first & last names fields isDirty equals tor true

Scenario 2
1. Enter any

[2021-09-19 11:04] msalahz commented on #107
@bluebill1049 : Why this ticket was moved here?
If you checked this [sandbox](https://codesandbox.io/s/react-hook-form-reset-7-8-0-zf53p?file=/src/FormStatePreview.tsx) you should find form state returned form useFormState also show the same state issues on v7.8.0

[2021-09-19 11:11] bluebill1049 commented on #107
please remove the dev tool and all the other dependencies if this issue is related to the core lib, I just did a quick test with your description above and it works.

<img width="1519" alt="Screen Shot 2021-09-19 at 9 10 29 pm" src="https://user-images.githubusercontent.com/10513364/133925370-6dc8407a-4e4a-4138-a20b-fc41e617d620.png">

 update your codesandbox i will take a look at again if its an

[2021-09-20 10:34] msalahz commented on #107
Hi @bluebill1049 : I removed the devtool & tried and I couldn't reproduce these issues anymore, Why the devtools could effect the core functionality for the library?

[2021-09-20 10:35] bluebill1049 commented on #107
i suspect it's a bug in the dev tool.

[2021-11-19 16:50] VictorMGoulart opened #111 "Filter doesn't work with nested properties"
**Description**
Searching for nested properties name doesn't work

**How To Reproduce**
Steps to reproduce the behavior:

CodeSandbox: https://codesandbox.io/s/runtime-sky-biu91?file=/src/App.js
- Search for "person.0.firstName" or "firstName" - doesn't show any responses in any case

**Expected behavior**
- Should show person.0.firstName when searching for "person.0.firstName" or person.0.firstNa

[2022-01-04 04:41] jprosevear opened #113 "DevTools always displays and animates to offscreen even if isVisible === false"
I believe because of:
https://github.com/react-hook-form/devtools/blame/1b9891c8f78622e9bb9dff60c5f65d69ac069b70/src/devToolUI.tsx#L29

If the DevTools is not set to be visible visible it will still show itself and transition off the screen

This is actually causing a weird issue with a login form and autofill on chrome because of focus I believe

[2022-01-04 05:14] bluebill1049 commented on #113
would you like to send us a PR?

[2022-01-04 05:17] jprosevear commented on #113
Depends how you want it fixed - removing the animation entirely should trivially fix it, otherwise need to figure out some sort of extra state handling to detect !isVisible and wasVisible or something.  Ideas?

[2022-01-08 18:59] jprosevear commented on #113
Opened #114

[2022-01-08 22:11] bluebill1049 commented on #113
sorry for the late reply. i miss the notification. will take a look at the PR.

[2022-01-08 23:03] #113 closed

[2022-01-12 10:48] yashwant-dangi commented on #81
@bluebill1049 can we use dev-tool with v6, I can not upgrade to v7. For v6, I am getting the above error.

[2022-01-12 10:54] bluebill1049 commented on #81
I believe u can use with the old version.

[2022-01-18 21:57] johnschult commented on #113
Am I missing something, is there a property called `isVisible` that controls whether or not it is open on load? I would love the dev tool to be closed on load.

[2022-01-18 22:11] bluebill1049 commented on #113
@johnschult would like to send a PR and add that prop?

[2022-01-18 23:34] johnschult commented on #113
Yeah I’ll look into it. I just wanted to make sure I wasn’t missing out on something 😄

[2022-01-18 23:40] jprosevear commented on #113
Its visible based on local storage (with a default to false)

The issue was when it was not visible it would still start visible and transition off the screen.  My PR fixed that.

[2022-01-18 23:44] johnschult commented on #113
Ah ok... figured as much based on the behavior. I was thinking an open property for the component. Thoughts on wether or not that would default to true or false? True would mimic the current behavior without the stored local.

[2022-02-02 19:33] sankparatkar opened #118 "TypeError: Object(...) is not a function"
I am getting this error when I am trying to use useForm() with latest version of react-hook-form
My react version is 16.8.3, but the same code works in another project with same react version so that does not seem to be an issue.
I can see redux and redux persist persist in stack trace, might have some clashes while mounting not so sure.
Please advise

Code Snippet :

`import React from "react";
i

[2022-02-02 19:38] sankparatkar commented on #118
Not the right place for this issue, my bad switched the repo.

[2022-02-02 19:38] #118 closed

[2022-02-11 02:34] dannyshaw opened #119 "Devtools not rendering in Storybook"
We had some storybook stories wired up with Devtool attached to them. Since upgrading it to 4.0.2 from 2.2.1, and hook form from 6 -> 7, the Devtool just will not render in storybook. no elements on screen at all. Snapshots picked it up.

Is there a reason for this I'm missing. I've beaten my head quite a bit looking for a reason.
I'm suspicious on NODE_ENV perhaps replacing it with null but Story

[2022-02-14 05:37] dannyshaw commented on #119
Closing, we had `NODE_ENV=storybook` prepended to our `package.json` scripts for storybook, which was overriding my manual call to `NODE_ENV=development yarn run storybook`.

Disregard!

[2022-02-14 05:37] #119 closed

[2022-03-02 08:45] rtkac commented on #8
Still happening in 4.0.2

[2022-03-02 11:32] a777med opened #120 "Field names are not displayed"
![image](https://user-images.githubusercontent.com/15968280/156353279-f32a7229-a530-47d9-b57d-13fe32d1bc0e.png)

Field names are not displayed. Even though I'm using it normally.

I'm using: TypeScript, Zod, `@hookform/devtools@^4.0.1` and `react-hook-form@^7.27.1`.

[code]

[2022-03-06 09:48] Ekalos opened #121 "dirtyFields will not update after reset when using devtools"
### Codesandbox link
https://codesandbox.io/s/react-hook-form-v6-formstate-forked-4qlr7d?file=/src/index.jsx

### Reproduce
1. type some characters in input box
2. click reset button
3. type in input box
4. after above, you can see dirtyFields will not update. In devtools plane, only value field still update

### Addition
1. if you delete characters which type in step3, the dirtyFields will work o

[2022-03-23 14:05] rbideau commented on #106
Still present with react-hook-form@7.27.1 and @hookform/devtools@4.0.2

[2022-03-23 21:22] bluebill1049 commented on #106
would like to send a pr?

[2022-03-25 21:18] rbideau commented on #106
I just did !

[2022-03-25 21:54] #106 closed

[2022-04-11 18:06] SalahAdDin opened #131 "Issue: Form behaviour changes after reseting form."
### Version Number

7.28.0

### Codesandbox/Expo snack

https://codesandbox.io/s/pensive-babbage-bevpx3

### Steps to reproduce

1. Change the Country's field value to check the extra fields are being rendered correctly.
2. Fulfil the form in proper way.
3. Submit the form and check all fields were cleaned/reseted.
4. Change the Country's field value and check the extra fields are not being replac

[2022-04-11 20:47] #131 closed

[2022-04-11 20:49] Moshyfawn commented on #131
Closed as a duplicate of #107

[2022-04-13 02:18] #102 closed

[2022-05-04 09:54] pragmasoft-ua opened #132 "Warning "Whitespace text nodes cannot appear as a child of <tbody>""
I'm able to reproduce it with version 4.1.0

`
Warning: validateDOMNesting(...): Whitespace text nodes cannot appear as a child of <tbody>. Make sure you don't have any extra whitespace between tags on each line of your source code.
tbody
table
withEmotionCache2/<@http://localhost:3000/node_modules/.vite/deps/@hookform_devtools.js?v=6ea3fd1b:1935:45
PanelTable@http://localhost:3000/node_modules/.v

[2022-05-23 18:43] panfiva opened #133 "Cannot read properties of null (reading 'control')"
I am getting an error when adding the following component inside a form:

[code]
Notice that my console.log statement shows that form context is present; however DevTools shows no context present

![image](https://user-images.githubusercontent.com/48455289/169885383-b37c4a34-18c6-4163-ac48-98e18e940be3.png)

![image](https://user-images.githubusercontent.com/48455289/169885128-595b41ea-8976-4885-8

[2022-05-23 18:51] panfiva commented on #133
It's possible it is the same issue as https://github.com/react-hook-form/react-hook-form/discussions/5150

[2022-06-15 07:36] Svish opened #136 "[Feature] Allow passing custom props to button"
With the `react-query` devtools I can pass in custom props to make adjustments to it. In particular, it's good to be able to pass a `className` or a custom `style` to override some defaults, like done here:

[code]

None of the placements of the `react-hook-form` devtools button work for me as there are fixed toolbars at the top and the bottom of our app. So I need to be able to pass in a transfor

[2022-06-15 07:40] bluebill1049 commented on #133
This is due to Context, please double check, if this still persists post a question in github discussion with a Codesandbox.

[2022-06-15 07:40] #133 closed

[2022-06-15 07:46] Svish opened #137 "[Feature] Improve accessibility of the devtools"
Would be great if the devtools was more accessible. See for example the sad accessibility tree when I select the collapse button:

![image](https://user-images.githubusercontent.com/142162/173770824-bf46e2b8-980b-4f64-937e-88d10f5435d2.png)

The toggle button, should have an `aria-label` and be linked to the panel via `aria-controls`, `aria-haspopup` and `aria-expanded`.

The panel itself should b

[2022-06-15 08:03] bluebill1049 commented on #137
Valid for the feedback itself. It's an open-source project if you have a strong opinion (a valid one) about things you can contribute and send us a PR. Rolling face around doesn't add any value to the project and shows any thought of appreciation toward people using their free time on the project like myself.

So conclusion: Feel free to send a PR to improve on the accesiblity. thanks

[2022-06-15 08:07] bluebill1049 commented on #111
This is not a feature that we currently support.

[2022-06-15 08:08] #105 closed

[2022-06-15 08:08] Svish commented on #137
Sorry, wasn't aware the 🙃 smiley was considered offensive or ungrateful, I just wanted to be nice. Removed it now.

[2022-06-15 08:21] bluebill1049 commented on #137
all good. It's a contextual thing, like I said it's valid feedback in general.

[2022-06-15 09:39] Svish commented on #60
Just another screenshot:

![image](https://user-images.githubusercontent.com/142162/173778051-db56a81a-ab86-4c4c-9fcc-4cd6d5c58bda.png)

Main issue is the header at the top, which is getting our default `p` color, and as a result is almost invisible.

The second issue is our global table related styles which makes the table look a bit weird. I think it's mainly related to paddings, as the devtools

[2022-06-15 09:56] bluebill1049 commented on #60
thanks for the feedback @jsun969 is currently looking into improvement on the dev tool.

[2022-06-15 11:01] jsun969 commented on #60
I assume the fundamental reason is your customized styles overwrite some styles of devtools component.

I will try to change the devtools to browser extension instead of component 😀

[2022-06-16 04:25] emjaksa opened #138 "The peerDependencies for react in @hookform/devtools do not match react-hook-form"
The peerDependencies for react in `@hookform/devtools` do not match `react-hook-form`.

node version = v16.15.1
npm version = v8.11.0

We are using react v16 and we can install `react-hook-form` but with npm v8 trying to install `@hookform/devtools` throws an error.

[code]

The peerDependencies for `react-hook-form`
[code]

The peerDependencies for `@hookform/devtools`
[code]

Please make the pee

[2022-06-16 05:45] bluebill1049 commented on #138
want to send us a PR?

[2022-06-18 06:18] Chirag069 opened #139 "null is not an object (evaluating 'r.control')"

[2022-06-18 07:35] #139 closed

[2022-06-23 12:34] MatejFacko opened #140 "Option to persist React Hook Form DevTool in Production"
It would be nice to have an option to display DevTool also in Production env.

For inspiration nice workaround was introduced by ReactQuery here: https://github.com/TanStack/query/discussions/3296 . Would it be possible something similar also here?

[2022-06-26 17:27] medihack opened #141 "Conflicting @emotion/react"
My app uses [Mantine](https://v5.mantine.dev/) component library, which uses Emotion under the hood. But it seems React Hook Form DevTools also uses Emotion, but a different version. When I add DevTools to my app, I now get the following warning on the console:

`You are loading @emotion/react when it is already loaded. Running multiple instances may cause problems. This can happen if multiple ver

[2022-06-26 22:34] bluebill1049 commented on #141
What's the version difference? maybe we can upgrade to the latest if that's the issue, but it's a devtool so it's not bundle into your prod code, so i wouldn't worry too much about it.

[2022-07-01 08:45] GabriFila opened #142 "Add initialIsOpen prop"
Hi,
Love RHF and I was happy to discover the existence of this DevTool!

Would it be possible to add an `initlaIsOpen` prop to have the devtools closed on startup and open it only when I need it? I didn't find any other way to do it.

I would be happy to make a PR to add this feature

Thank you!

[2022-07-01 10:12] atanaskanchev opened #143 "DevTool conflicting types"
### Version Number

4.1.0

### Codesandbox/Expo snack

none

### Steps to reproduce

Use with `"react-hook-form": "^7.32.2"`

### Expected behaviour

![image](https://user-images.githubusercontent.com/4958587/176874517-628346ed-2d88-4707-9122-027eb3c7d940.png)

`Type 'Control<Partial<User>, object>' is not assignable to type 'Control<any, object>'.
  The types of '_formState.errors' are incompatib

[2022-07-01 11:34] bluebill1049 commented on #143
please provide a reproduced codesandbox.

[2022-07-01 11:35] bluebill1049 commented on #140
why would you want to ship dev tool to your prod code? it will incase your package size quite a lot.

[2022-07-01 11:36] bluebill1049 commented on #141
I think it's fine to ignore.

[2022-07-01 13:07] GabriFila commented on #142
Do I take this as a "ok to make a PR?"

[2022-07-02 21:03] medihack commented on #141
Yes, I will ignore it. But there are also some discussions in the Emotion repo itself if `@emotion/react` is better added as a peer dependency.

https://github.com/emotion-js/emotion/issues/2343#issuecomment-817265816
https://github.com/emotion-js/emotion/discussions/2795#discussioncomment-3031404

[2022-07-02 22:10] bluebill1049 commented on #141
oh i see, would you like to send a PR to adjust that? happy to re-release if that will resolve the issue.

[2022-07-03 10:47] medihack commented on #141
Sure, it is as easy as moving the dependency line to peer dependencies. As version restriction, I would use `"@emotion/react": ">=11.1.5"`. I will open a PR.

[2022-07-03 23:28] bluebill1049 commented on #141
this caused issue: https://codesandbox.io/s/react-hook-form-get-started-ts-forked-o1ebc5?file=/src/index.tsx Will revert that commit for now.

[2022-07-03 23:40] #143 closed

[2022-07-04 06:22] medihack commented on #141
Sure, I will investigate what's wrong here. Sorry for the trouble.

[2022-07-04 06:24] bluebill1049 commented on #141
not at all, thanks for contributing and helping. 🙏

[2022-07-05 10:01] jsun969 opened #148 "Chrome Extension Support"
Issue: react-hook-form/react-hook-form#8624
Pull request: react-hook-form/react-hook-form#8628

## Usage
If you have chrome extension. The component won't be displayed and extension will replace the component instead.

[2022-07-07 01:37] jsun969 commented on #148
I assume we need to implement react-hook-form/devtools-extension#3 here too

[2022-07-07 06:58] jsun969 opened #149 "Cannot run example"
![image](https://user-images.githubusercontent.com/29330847/177711225-7b7238af-74ca-4683-bdb5-ff15603d2806.png)

[code]

maybe sth error here
https://github.com/react-hook-form/devtools/blob/d2c3fb037507649c9ceed7aa0f9250d333c89eb9/example/package.json#L10

[2022-07-09 09:51] #148 closed

[2022-07-09 12:56] jsun969 commented on #149
haha. My bad 😂

It need me `build` the main lib first, then `yarn install` the dependencies in `/example`

[2022-07-09 12:56] #149 closed

[2022-07-09 13:00] jsun969 opened #153 "`control._names.mount` is undefined in example"
Browser error:

![image](https://user-images.githubusercontent.com/29330847/178106828-e5e75336-fc25-4a81-aff8-a065e6580b5f.png)
![image](https://user-images.githubusercontent.com/29330847/178106839-6bcac481-2378-4fa2-a3f3-c3f587ba9053.png)

Editor error:
![image](https://user-images.githubusercontent.com/29330847/178109898-7e6896dd-d6fa-48f3-9449-ffeb22f2df78.png)

[2022-07-09 13:33] jsun969 commented on #148
Bad news 😭 #153

[2022-07-09 14:15] jsun969 commented on #153
@bluebill1049 Can you help me fix this? 😭

[2022-07-09 23:01] bluebill1049 commented on #153
@jsun969 could we do that ? `(control?._names?.mount ?? [])`?

[2022-07-09 23:02] bluebill1049 commented on #148
thanks for the update. I have replied there.

[2022-07-10 01:18] jsun969 commented on #153
I'll try

[2022-07-10 02:07] jsun969 commented on #153
emm.. no

[2022-07-11 04:19] #153 closed

[2022-07-12 14:16] parazit13 opened #157 "require() syntax causes an error in nextjs development."
The Error is:
require() of ES Module /node_modules/nanoid/index.js from /node_modules/@hookform/devtools/dist/index.cjs.development.js not supported. Instead change the require of index.js in /node_modules/@hookform/devtools/dist/index.cjs.development.js to a dynamic import() which is available in all CommonJS modules.

devtools worked fine in my previous projects but in my latest, it caused an er

[2022-07-12 15:00] yangricardo opened #156 "ES Modules not supported with NextJS"
HI,
I am receiving the following bug:
![image](https://user-images.githubusercontent.com/5523565/178520565-d485eb1c-ce69-4a64-8505-4bdc0e36cd54.png)

My project dependencies are:

[code]

[code]

This issue is quite new for me... Not sure what could be...

[2022-07-12 15:03] jsun969 commented on #156
Can you show your `import` code?

[2022-07-12 15:32] yangricardo commented on #156
[code]

[2022-07-12 15:40] yangricardo commented on #156
I am also having other problems with latest NextJS (12.2.2) but the latest version of dev tools i have working  well is `@hookform/devtools@4.1.0` with  `next@12.2.0`

[2022-07-12 15:55] jsun969 commented on #156
sry, we added `nanoid` in `4.2.0`. I think your error is caused by it.
I found this issue ai/nanoid#325
I assume this problem is rare. Can you leave a comment in nanoid's issue? Maybe they'll solve it.

If they didn't plan to fix it and more people meet this problem. We would consider replacing it with `uuid`.

[2022-07-12 16:11] yangricardo commented on #156
Maybe that´s it. Do not remember, but i think i read some reference to this nanoid dependency, but i do not know how to reproduce it....

[2022-07-12 16:16] yangricardo commented on #156
Not sure, but seems a similar issue https://github.com/ai/nanoid/issues/365

[2022-07-12 19:59] parazit13 commented on #157
https://codesandbox.io/s/trusting-zeh-dtn1tg?file=/pages/page.tsx

I just copied one of the pages that gives the error. no css included.

[2022-07-12 20:04] yudielcurbelo commented on #156
I'm getting the same error when upgrading from `4.1.0` to `4.2.0`

[2022-07-13 00:14] jsun969 commented on #157
similar to #156 ?

[2022-07-13 02:29] jsun969 commented on #157
Dumplicated #156

I'll fix it soon!

[2022-07-13 02:29] #157 closed

[2022-07-13 02:48] #156 closed

[2022-07-13 07:32] parazit13 commented on #157
with uuid instead of nanoid, it now says "Error: Text content does not match server-rendered HTML." If I comment out devtools, it works fine.

[2022-07-13 08:37] jsun969 opened #159 "Nextjs form id doesn't match server-rendered HTML"
with uuid instead of nanoid, it now says "Error: Text content does not match server-rendered HTML." If I comment out devtools, it works fine.

_Originally posted by @parazit13 in https://github.com/react-hook-form/devtools/issues/157#issuecomment-1182868631_

[2022-07-14 00:27] jsun969 opened #161 "Change the example to Nextjs"
According to #156 #157, I assume we can change our `vite` example to `next.js`

[2022-07-14 09:29] jsun969 commented on #161
https://github.com/react-hook-form/devtools/pull/162#issuecomment-1184210477

[2022-07-14 09:29] #161 closed

[2022-07-14 09:34] jsun969 opened #163 "Add vite ssr in example"
instead of using nextJS maybe we can use vite with SSR, keep this repo simple, in fact, if this mismatch is resolved we probably don't have to worry about it too much by introducing SSR in this repo.

_Originally posted by @bluebill1049 in https://github.com/react-hook-form/devtools/issues/162#issuecomment-1184210477_

[2022-07-14 09:41] jsun969 commented on #159
I fixed it in #162 . And we create a beta release `4.2.2-beta.1`.
Could you help us test in your project @parazit13?

cc @yangricardo

[2022-07-14 09:55] parazit13 commented on #159
of course, thanks for the patch and heads up about it. I installed `4.2.2` and it works great!! @jsun969 @yangricardo

[2022-07-14 09:57] bluebill1049 commented on #159
thanks @jsun969 for the patch.

[2022-07-14 09:57] #159 closed

[2022-07-24 14:59] medihack commented on #141
I took another look into this. This import is a bit strange:  `import { DevTool } from "./src";`.
Shouldn't it be: `import { DevTool } from "@hookform/devtools";`?

Also, there is no `"@emotion/react"` in the dependencies of the linked CodeSandbox (but one has to, as it is a peer dependency). I wonder if it was more a problem of the CodeSandbox example.

[2022-07-24 22:46] bluebill1049 commented on #141
oops, you are right... was using a CSB reference to src folder i will revert (revert) your merge

[2022-07-24 22:48] bluebill1049 commented on #141
never mind, it's already released, I didn't revert your original commit.

[2022-07-27 16:32] Avataw opened #166 "Display form errors in the devtool"
So I was debugging my application and it was not properly displaying erros as I was still fiddling with my yup schema.

In order to solve my problems I needed to manually print out my form errors etc and I thought it might be nice to just include that in the devtools? :)

My proposal is a section underneath the formstate where you can have a look at the errors :)

[2022-07-27 18:08] medihack commented on #141
It seems reverted as `@emotion/react` is still [direct dependency](https://github.com/react-hook-form/devtools/blob/1b1cdf9e860ea7822fde21882fcb51d79e250af9/package.json#L61) in master branch and not a peer dependency.

[2022-07-27 23:04] bluebill1049 commented on #141
oops, would like you to push your PR again? let's remerge it?

[2022-07-28 02:35] jsun969 commented on #166
Could you provide a simple example in codesandbox or show your code to us?

[2022-07-28 11:44] Avataw commented on #166
@jsun969 do you mean an example of how I would modify the current `<DevTool />` component?

Or my specific problem I was having? :)

[2022-07-28 12:09] jsun969 commented on #166
ye. Plz provide a [minimal reproduction](https://stackoverflow.com/help/minimal-reproducible-example) for your problem :P

[2022-07-30 08:51] jsun969 commented on #166
Thx for reporting. We temporarily close issue this due lack of information. Please provide a [minimal reproduction](https://stackoverflow.com/help/minimal-reproducible-example) to reopen it.

[2022-07-30 08:51] #166 closed

[2022-07-30 09:00] jsun969 opened #168 "NEW Devtools"
I'll try to merge the [extension](https://github.com/react-hook-form/devtools-extension) repo into this repo. And turn it into monorepo.

## Draft

![image](https://user-images.githubusercontent.com/29330847/181903171-4169d629-5133-459d-b3ab-9771a5faa5b6.png)

## Tasks

### Packages
- [ ] Core
- [ ] Component
- [ ] Extension
- [ ] Extension Messager

[2022-08-17 18:24] thatkiddslash55 opened #171 "Develop"

[2022-08-17 22:40] #171 closed

[2022-08-18 10:25] AuthorProxy commented on #51
I have the same error with new code

[2022-08-18 14:06] #168 closed

[2022-08-28 13:16] thatkiddslash55 opened #172 "can you reproduce this in a codesandbox? i want to see what are your selector is overwriting our style."
can you reproduce this in a codesandbox? i want to see what are your selector is overwriting our style.

_Originally posted by @bluebill1049 in https://github.com/react-hook-form/devtools/issues/60#issuecomment-701051514_

[2022-08-31 21:50] phyolim opened #173 "React hook form + DevTool + reset causes from to not register fields correctly"

[2022-09-02 10:49] ludvigeriksson commented on #62
Any progress on this? I can't read the path names since they are too long.

[2022-09-06 11:12] xsintill opened #174 "devtool versions above 2.2.1 do not work together with rhf 6.15.8"
**RHF Version Number**
6.15.8

**Devtools Version Number**
4.2.2

To solve all npm warnings while doing npm installs we upgraded to devtools 4.2.2 from 2.2.1. the 2.2.1 devtool version works without errors but the 4.2.2 gives errors see codesandbox

**CodeSandBox**
https://codesandbox.io/s/morning-haze-48owof?file=/src/App.js

**Steps to reproduce**

1. Go to the sandbox
2. devtool errors out

**E

[2022-09-08 08:24] jpa00 opened #175 "Importing as ES module, DevTool is included in production build"
As the title says, when a project by default imports and builds everything from ES modules, hookform's DevTool import returns the entire code even in production builds, instead of the noop of the default import.

Depending on the environment, a quick workaround may be to import from /dist/index for now, which returns either the CommonJS-version or a noop DevTool.

[2022-09-09 12:38] mgifford commented on #137
So what is being done to make the devtools more accessible?

[2022-10-23 12:46] AdiRishi commented on #175
+1 I just came across this as well (building a React app with Vite)

[2022-10-28 09:28] fleonard opened #176 "React 16 missing as peer dependency in version 4.2.2"
I saw this has already been fixed [here](https://github.com/react-hook-form/devtools/pull/167) but wondering when this will be released? It currently fails while trying to install with npm v8.19.2

[2022-10-28 11:22] bluebill1049 commented on #176
published.

[2022-10-28 11:22] #176 closed

[2022-11-02 22:07] steveoh commented on #175
Is this going to be addressed or should we use the work around?

[2022-11-14 11:36] adomasa commented on #62
+1, the current implementation without dynamic width doesn't make the tool usable. Looking forward on this.

[2022-11-16 08:43] parkgang opened #178 "Next.js Text content does not match server-rendered HTML."
## Overview

The problem occurs in the versions below.

[code]

An easy setup for that test is to run the command below.

[code]

## error symptom

![image](https://user-images.githubusercontent.com/63892989/202126570-fdfc795e-fb84-432b-8afb-486ad424544e.png)

## Resolution

I downgraded the react version to 17 and the problem did not occur.
Something seems to be a problem between react@18 and nex

[2022-11-16 09:20] parkgang commented on #178
To check if the grammar was wrong, I proceeded cleanly as follows, but no problem occurred.

[code]

I suspect something is wrong with the types below.

![image](https://user-images.githubusercontent.com/63892989/202139474-2fd7c3bb-9012-47c8-90d4-e1a6fc2453d8.png)

[2022-11-17 01:04] parkgang commented on #178
I haven't been able to find a solution other than changing the state so that it can only be displayed on the `Client Side` .

This is a cumbersome code base that you have to go through every time you use `DevTool` .

I don't think this is the best way.

[code]